<h1>Creating Cocktail</h1>

<%= render 'form', cocktail: @cocktail %>

<p class="btn btn-ghost">
<%= link_to 'Show', @cocktail %>
</p>
<p class="btn btn-ghost">
<%= link_to 'Back', cocktails_path %>
</p>



